.assignment-page {
    max-width: 1400px;
    margin: 0px auto;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.assignment-title {
    color: #333;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.assignment-score {
    color: #666;
    font-size: 1.1rem;
    margin: 0;
}

.assignment-description {
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.content-container {
    height: calc(100vh - 150px);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fafafa;
}

.questions-homework-container {
    display: flex;
    height: 120%;
    position: relative;
}

.questions-section, .homework-section {
    height: 100%;
    overflow-y: auto;
}

.questions-title {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 30px;
}

.questions-content, .homework-content {
    padding: 20px;
    height: 100%;
}

.questions-section {
    background-color: #ffffff;
    border-left: 1px solid #ddd;
}

.question {
    background-color: #fbfbfb;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(209, 209, 209);
}

.mcq-options, .frq-response {
    margin-top: 15px;
}

.mcq-option {
    margin-bottom: 8px;
}

.frq-response input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pdf-preview2 {
    height: 100%;
    margin-bottom: 15px;
    background-color: transparent;
}

.rpv-core__inner-page {
    background-color: none !important;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: #aaa;
    cursor: col-resize;
    z-index: 10;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.slider:hover {
    background-color: #888;
}

.rpv-core__viewer {
    height: 100% !important;
}

@media (max-width: 768px) {
    .questions-homework-container {
        flex-direction: column;
    }

    .questions-section, .homework-section {
        width: 100% !important;
        height: auto;
    }

    .slider {
        display: none;
    }
}

.assignment-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
    padding: 0px 20px; 
    padding-top: 20px;
}

.assignment-title {
    color: #333;
    font-size: 2.5rem;
    font-weight: 700;
    margin-right: 20px; 
}

.assignment-score {
    color: #222222;
    font-size: 1.1rem;
    background-color: rgb(47, 255, 57);
    padding: 10px;
    border-radius: 15px;
}

.frq-response {
    display: flex;
    align-items: center;
}

.frq-response input {
    flex: 1;
    margin-right: 10px; 
}

.frq-response .check-answer-icon {
    cursor: pointer;
    font-size: 1.5rem; 
    color: #007bff; 
}
