/* Login.css */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }
  
  .login-page h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    animation: fadeIn .2s ease-in-out;
  }
  
  .login-page button {
    padding: 1.5rem 3.5rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 2rem;
    font-size: 16px;

  }
  
  .login-page button:hover {
    background-color: #555;
  }
  
  .role-selection {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .role-card {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 200px;
  }
  
  .role-card:hover {
    transform: scale(1.05);
  }
  
  .role-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }
  
  .role-card p {
    color: #333;
    font-size: 1.2rem;
    margin: 0;
  }
  
  .login-page h2 {
    color: #333;
  }

  .login-button-container {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.3s ease, transform 0.5s ease;
  }
  
  .login-button-container.show {
    opacity: 1;
    transform: scale(1);
  }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}