/* Navbar.css */
.navbar {
    padding: 1rem 0rem;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
  }
  
  .logo a {
    color: #202020;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: #202020;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff6347; /* Tomato color */
  }
  